* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: black;
    width: 250px;
    height:250px;
    margin: 200px auto;
    border-radius: 20px;
    
}
h1{
    background-color: black;
    color:white;
    text-align: center;

}
.img-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}




.wrapper-2{
    background-color: black;
    width: 250px;
    height:250px;
    margin: 200px auto;
    border-radius: 20px;
    /* display:inline-block; */
    

    
}
.img-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}



.wrapper-3{
    background-color: black;
    width: 250px;
    height:250px;
    margin: 200px auto;
    border-radius: 20px;
    /* display:inline-block; */
}
.img-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}