*{
    margin: 0;
    padding: 0;
}

img{
    height: 100px;
    width: 100px;
    border-radius:100px;
    transition: 0.3s;
    float: left;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #1e1e1e;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
}
.buttons{
     margin: 10px;
     padding: 20px;
     transition: 0.3s;
     /* display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center; */
     float: right ;
}

button:hover{
    margin: 0 8px;
    background-color:#ffe604bd ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
    rgba(0,0,0,0.19);
    transition:  0.3s;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #705c01e1;

}
HR{
    border-color: #fffacc;
    
    
}
button{
    background-color:  #fffacc;
    border-radius:5px ;
    border-width: 1px ;
    height: 28px;
    width: 100px;
    transition: 0.3s;
    margin: 10px;
}
img:hover{
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
    rgba(0,0,0,0.19);
    
    height: 120px;
    width: 120px;
    border-radius: 220px;
    cursor: grab;
    opacity: 0.8;
}
button:active{
    transition: 0.3s;
    opacity: 0.3;

}
h4{
    position: absolute;
    right: 200px;
}
p{
    background-color:#fffacc ;
    font-size: 30px;
}
b{
    font-size: 30px;
    color: black;
}
body{
    background-image: linear-gradient(90deg,#ffe604bd,#fffacc) ;
}